
    <div id='list'>
    <ul class='location'>
        {{ location }}
        <li><h1 id='hello'>{{name}}</h1></li>
        <li>{{address}}</li>
        <li>{{category}}</li>
        <button type="button" class="btn btn-primary btn-lg"><a href="/post">Post</a></button>
    </ul>
    </div>