<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #90BEDE;
        }
    </style>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <div id="logo">HTML</div>
    </header>

    {{{ body }}}

    <footer>
        <p>&copy; What's Going On</p>
        <address>
            Contact <a href="mailto:whatsgoingon@gmail.com">Us</a>
        </address>
    </footer>
    <script></script>
</body>

</html>
