<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/47199050e5.js" crossorigin="anonymous"></script>
    <title>Whats Going On</title>
</head>

<body>
<select class="form-select" multiple aria-label="Is this location crowded?">
  <option selected>Is this location crowded?</option>
  <option value="1">Crowded</option>
  <option value="2">Not Crowded</option>
</select>

<select class="form-select" multiple aria-label="Are people wearing masks?">
  <option selected>Are people wearing masks?</option>
  <option value="1">Masks</option>
  <option value="2">No Masks</option>
</select>

<select class="form-select" multiple aria-label="Is there live entertainment?">
  <option selected>Is there live entertainment?</option>
  <option value="1">Yes</option>
  <option value="2">No</option>
</select>

<select class="form-select" multiple aria-label="Are there food and drink specials?">
  <option selected>Are there food and drink specials?</option>
  <option value="1">Yes</option>
  <option value="2">No</option>
</select>

<select class="form-select" multiple aria-label="Are the restrooms clean?">
  <option selected>Are the restrooms clean?</option>
  <option value="1">Yes</option>
  <option value="2">Moderate</option>
  <option value="3">No</option>
</select>

<div class="form-floating">
  <textarea class="form-control" placeholder="Comments" id="floatingTextarea"></textarea>
  <label for="floatingTextarea"></label>
  <button type="button" class="btn btn-primary btn-lg"><a href="/login">Make a Post</a></button>
</div>
    

</body>


</html>
