:root {
    --beige: #FFBE86;
    --scarlet: #942911;
    --powder: #90BEDE;
    --green: #7EA172;
    --gray: #545F66;
    


}

body {
    background-color: var(--powder);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}