:root {
    --black: #000000;
    --gray: #e6e6e6;
    --blue: #3399ff;
    --white: #ffffff;

    font-family: "Century Gothic";
}

body {
  font-size: 20px;
  color: var(--black);
  background-color: blueviolet;
 
}

header {
    text-align: left;
    height: 300px;
}
h1, p {
    margin-left: 53px;
}


li {
    display: inline;
    padding: 15px;
    color: var(--black);
  }

aside {
    position: relative;
    bottom: 1935px;
    width: 350px;
    height: 500px;
    padding-bottom: 20px;
    margin: 53px;
    font-family: "Century Gothic";
    text-align: center;
    background-color: var(--gray);
    color: var(--black);
}

section {
    position: flex;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 15px;
    border: 10px solid var(--blue);
    background: var(--black);
    color: var(--white);
}

img {
    width: 350px;
    height: 300px;
    padding: 15px;
    margin: 10px;
}

#one {
    display: flex;
    position: static;
    margin-left: 1400px;
}

#two {
    position: static;
    margin-left: 925px;
}

#three {
    position: static;
    margin-left: 1400px;
}

#four {
    position: static;
    margin-left: 925px;
}

footer {
    text-align: center;
}
/* h1,p {
    color: var(--black);
    margin: 20px;
} */

/* #header {
    align-items: center;
    width: 300px;
    height: 100px;
} */

/* main {
  padding: 60px 0;
} */

/* a {
  color: var(--white);
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  color: var(--white);
} */

/* header {
  position: static;
} */

/* footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;    
} */







.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
  
@media screen and (max-width: 830px) {
    header, main {
        flex-direction: column;
    }
    
}